/* ContactForm.css */
* {
  box-sizing: border-box;
 
  font-family: 'Switzer-Regular',sans-serif;
}

.ccontact-form {
  
  text-align: center;
  position: relative;
  padding: 16px; 
 
}

.ccontact-form h2 {
  font-family: 'Ranberg Regular', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
 
  text-align: left;
  color: #000;
}

.ccontact-form h2 span {
  font-family:'Ranberg Regular', sans-serif;
  font-weight: bold;
  font-style: italic;
}

.cform-row {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: flex-start;
}

.cform-group {
  flex: 1;
 
  position: relative;
}

.cform-group input {
  
  font-size: 1em;
  border: none;
  border-bottom: 1px solid #000;
  background: none;
  outline: none;
  transition: border-bottom 0.3s;
}

.cform-group input:focus {
  border-bottom: 1px solid rgb(18, 154, 245);
}

.cbtn button {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #31175b;
  
  font-family: 'Switzer-Regular',sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25em;
  text-decoration: none;
  transition: all 0.25s;
  cursor: pointer;
  letter-spacing: 0.08em;
}

.cbtn button:hover {
  background-color: white;
  color: black;
}

.cform-row > .cform-group {
 
}

.cform-group input::placeholder {
  font-style: italic;
  font-weight: bold;
  color: #000;
}

