.legal-container {
  padding: 50px 20px 0 0;
  max-width: 800px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  text-align: justify;
}

.legal-container h1 {
  font-family: 'CabinetGrotesk-Bold', sans-serif;
  font-size: 2em;
  margin-bottom: 0.5em;
  text-align: center;
}

.legal-container h2 {
  font-family: 'CabinetGrotesk-Bold', sans-serif;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #333;
}

.legal-container p {
  font-family: 'Switzer-Regular',sans-serif;
  font-size: 1em;
  line-height: 1.6;
  margin: 10px 0;
}

.titlsublegl {
  color: var(--black);
  font-weight: 600;
}

.legal-container a {
  color: #007bff;
  text-decoration: none;
}

.legal-container a:hover {
  text-decoration: underline;
}

/* Responsive design */
@media (max-width: 768px) {
  .legal-container {
    padding: 10px;
  }

  .legal-container h1 {
    font-size: 1.5em;
  }

  .legal-container h2 {
    font-size: 1.2em;
  }

  .legal-container p {
    font-size: 0.9em;
  }
}
