.legal-container {
  padding: 50px 20px 0 0;
  /* max-width: 800px; */
  margin: 50px auto;
  font-family: 'Switzer-Regular',sans-serif;
  line-height: 1.6;
  text-align: justify;
  padding: 2%;
}

.legal-container h1 {
  font-family: 'Ranberg Regular', sans-serif;
  font-size: 4rem;
  margin-bottom: 0.5em;
  text-align: center;
}

.legal-container h2 {
  font-family: 'Ranberg Regular', sans-serif;
  font-size: 2rem;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color:#000;
}

.legal-container p {
  font-family: 'Switzer-Regular',sans-serif;
  font-size: 2rem;
  line-height: 1.6;
  margin: 10px 0;
  text-align: justify;
}

.titlsublegl {
  color: var(--black);
  font-weight: 600;
}

.legal-container a {
  color: #007bff;
  text-decoration: none;
}

.legal-container a:hover {
  text-decoration: underline;
}

/* Responsive design */
@media (max-width: 768px) {
  .legal-container {
    padding: 10px;
  }

  .legal-container h1 {
    font-size: 1.5em;
  }

  .legal-container h2 {
    font-size: 1.2em;
  }

  .legal-container p {
    font-size: 0.9em;
  }
}
