.legal-container {
  padding: 50px 0 0 0;
  max-width: 800px;
  margin: 70px auto;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  text-align: justify;
}

.legal-container h1 {
  font-family: 'Ranberg Regular', sans-serif;
  font-size: 3rem;
  margin-bottom: 0.5em;
  text-align: center;
  color:#31175b;
}

.legal-container h2 {
  font-family: 'Ranberg Regular', sans-serif;
  font-size: 2rem;
  margin-top: 1em;
  margin-bottom: 0.5em;
  /* color: #333; */
  display: inline;
  position: relative;
  box-shadow: inset 0 0 0 0 #ffb32c;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-size 0.3s ease-in-out;
  background-image: linear-gradient(to right, #ffb32c, #ffb32c);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.legal-container h2:hover {
  color: #000; /* Adjust color change on hover */
  box-shadow: inset 100% 0 0 0 #ffb32c;
  background-size: 100% 40%;
}


.legal-container p {
  font-family: 'Switzer-Regular',sans-serif;
  font-size: 18px;
  line-height: 1.6;
  margin: 20px 0 50px 0; 
}

.titlsublegl {
  color: var(--black);
  font-weight: 600;
}

.text-left{
  text-align: left;
}
.justspace{
  text-align: left ;
  /* font-size: 1.5rem !important;  */
}
 

.legal-container a {
  color: #007bff;
  text-decoration: none;
}

.legal-container a:hover {
  text-decoration: underline;
}

/* Responsive design */
@media (max-width: 768px) {
  .legal-container {
    padding: 10px;
  }

  .legal-container h1 {
    font-size: 1.5em;
  }

  .legal-container h2 {
    font-size: 1.2em;
  }

  .legal-container p {
    font-size: 0.9em;
  }
}
