.i-parallax-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  padding-left: 7%;
  background-color: #fff;
  margin-top: 50px;
}

.i-parallax-image {
  position: absolute;
  transition: transform 2s ease-out, opacity 2s ease-out;
  opacity: 0;
}

/* Initial positions of the images */
.itop-left-image {
  transform: translateX(-100%) translateY(-100%);
  width: 135%;
}

.itop-right-image {
  transform: translateX(100%) translateY(-100%);
  width: 135%;
}

.ibottom-left-image {
  transform: translateX(-100%) translateY(100%);
  width: 135%;
}

.ibottom-right-image {
  transform: translateX(100%) translateY(100%);
  width: 135%;
}

/* Trigger animation when the section is in view */
.i-parallax-container.animate .itop-left-image,
.i-parallax-container.animate .itop-right-image,
.i-parallax-container.animate .ibottom-left-image,
.i-parallax-container.animate .ibottom-right-image {
  transform: translateX(0) translateY(0);
  opacity: 1;
}


