.parallax-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .parallax-image {
    position: absolute;
    width: 90%;
    height: 110vh;
    max-width: none;
    transition: all 1.5s ease-out;
    opacity: 0;
  }
  
  .parallax-container.animate .left-image {
    transform: translateX(0);
    opacity: 1;
  }
  
  .parallax-container.animate .right-image {
    transform: translateX(0);
    opacity: 1;
  }
  
  .parallax-container.animate .bottom-image {
    transform: translateY(0);
    opacity: 1;
  }
  
  .left-image {
    transform: translateX(-100%);
  }
  
  .right-image {
    transform: translateX(100%);
  }
  
  .bottom-image {
    margin-top: 70px;
    transform: translateY(100%);
  }
  