.Islider2 {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.Islider2-content {
    display: flex;
    animation: slide-animation 12s infinite alternate;
}

.Islide2 {
    position: relative;
    width: 100%;
    flex-shrink: 0;
}

.Islider2-image {
    width: 100%;
    height: 100vh;
}

.Islider-card {
    position: absolute;
    top: 10%;
    left: 10%;
    background: white;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 30%;
    height: 60vh;
}

.Islider-card h2 {
    display: inline;
    position: relative;
    font-family: 'Ranberg Semibold', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 15px;
    box-shadow: inset 0 0 0 0 #beb4c9;
    color: black;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-size 0.3s ease-in-out;
    background-image: linear-gradient(to right, #beb4c9, #beb4c9);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.Islider-card:hover h2 {
    box-shadow: inset 100% 0 0 0 #beb4c9;
    background-size: 100% 40%;
}

.Islider-card p {
    font-size: 1rem;
    margin-bottom: 10px;
    font-family: 'Switzer-Regular',sans-serif;
}

/* @keyframes slide-animation {
    0%, 16.67% { transform: translateX(0%); }
    20%, 36.67% { transform: translateX(-100%); }
    40%, 56.67% { transform: translateX(-200%); }
    60%, 76.67% { transform: translateX(-300%); }
    80%, 96.67% { transform: translateX(-400%); }
    100% { transform: translateX(0%); }
} */
