* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Switzer-Regular', sans-serif;
}

.contact-form {
  /* padding: 20px;
  margin: 20px; */
  text-align: center;
  position: relative;
  padding-bottom: 6.25rem;
  padding-left: 2%;
  padding-top: 3rem;
  font-family: 'Switzer-Regular', sans-serif;
}

.contact-form h2 {
  font-family: 'Ranberg Regular', sans-serif;
  font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2em;
  margin-bottom: 1em;
  text-align: left;
  color: #000;
}

.contact-form h2 span {
  font-family: 'Ranberg Regular', sans-serif;
  /* font-weight: bold; */
  font-style: italic;
  font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2em;
  
}

.cform-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
  justify-content: flex-start;
}

.cform-group {
  font-family: 'Switzer-Regular', sans-serif;
  flex: 1;
  margin: 0.5em;
  position: relative;
}

.cform-group input {
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  border: none;
  border-bottom: 1px solid #000;
  background: none;
  outline: none;
  transition: border-bottom 0.3s;
}

.cform-group input:focus {
  /* border-bottom: 1px solid rgb(18, 154, 245); */
  border-bottom: 1px solid #31C0FF;
}

.cbtn button {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #31175b;
  padding: 1rem 2.5rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25em;
  text-decoration: none;
  transition: all 0.25s;
  cursor: pointer;
  letter-spacing: 0.08em;
  width: 20%;
  float: left;
  margin-left: 0;
  margin-bottom: 2rem;
  /* outline: 2px solid transparent; */
  transition: outline-color 0.3s ease;
}

.cbtn button:hover {
  background-color: white;
  color: black;
  outline: 1px solid #31175b;
}

.cform-row > .cform-group {
  margin-bottom: 2em;
}

.cform-group input::placeholder {
  font-style: italic;
  font-weight: bold;
  color: #000;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .contact-form {
    /* padding: 60px;
    margin: 60px; */
  }

  .contact-form h2 {
    font-size: 2rem;
  }

  .cbtn button {
    width: 40%;
  }
}

@media (max-width: 992px) {
  .contact-form {
    /* padding: 40px;
    margin: 40px; */
  }

  .contact-form h2 {
    font-size: 1.3em;
  }

  .cbtn button {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .contact-form {
    /* padding: 30px;
    margin: 30px; */
  }

  .contact-form h2 {
    font-size: 2rem;
  }

  .cform-row {
    flex-direction: column;
    align-items: center;
  }

  .cform-group {
    width: 100%;
    margin: 0.5em 0;
  }

  .cbtn button {
    width: 60%;
  }
}

@media (max-width: 600px) {
  /* .contact-form {
    padding: 20px;
    margin: 20px;
  } */

  .contact-form h2 {
    font-size: 1.1em;
  }

  .cform-group input {
    padding: 0.4em;
    font-size: 0.9em;
  }

  .cbtn button {
    width: 100%;
    padding: 0.8rem 2rem;
  }
}

.cform-group select {
  width: 100%;
  padding: 0.5em;
  font-family: 'Switzer-Regular', sans-serif !important;
  font-size: 1em;
  border: none;
  border-bottom: 1px solid #000;
  background: none;
  outline: none;
  font-weight: 700;
  transition: border-bottom 0.3s;
}

.cform-group select:focus {
  border-bottom: 1px solid #31C0FF ;
}

.cform-group select option {
  font-family: 'Switzer-Regular', sans-serif !important;
  /* font-weight: bold; */
  color: #000;
}

