
.careers-page {
    padding: 50px 20px 0;
    max-width: 800px;
    margin: 50px auto;
    font-family: 'Switzer-Regular', sans-serif;
    line-height: 2;
    text-align: justify;
    height: 80vh;
  }
  
  .careers-page h2 {
    font-size: 2em; 
    margin-bottom: 20px; 
    color: #000;
  }
  .emalc {
    text-decoration: none;
    font-size: 18px;
    color: #31c0ff;
  }

  