
.bg-img.s {
  background-color: #31175b;
  padding: 40px 0;
  display: flex;
  justify-content: space-between; 
}

.logcnm {
  width: 25%; /* width left side to 25% */
  margin-top: 4%;
}

.logcnm.titls {
  display: flex;
  justify-content: center;
}

.logcnm img {
  width: 100px;
  margin-bottom: 10px;
}

.logcnm span {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff;
}

.folin {
  margin-bottom: 10px;
}

.folin a {
  text-decoration: none; 
  color: #fff;
}

.folin a:hover {
  color: #ddd;
  text-decoration: none; 
}
.ccpjn {
  text-align: center;
  margin-top: 2%;
}

.copy-right {
  font-size: 14px;
  color: #fff;
  text-align: left;
}

.esg-policy {
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
}

/* Social Media Links */
.list-unstyled a {
  text-decoration: none; 
}

.list-unstyled a[href*="linkedin"] {
  color: #fff;
}

.list-unstyled a[href*="twitter"] {
  color: #fff; 
}

.list-unstyled a[href*="facebook"] {
  color: #fff; 
}

.list-unstyled a[href*="instagram"] {
  color: #fff; 
}

.list-unstyled a:hover {
  color: #ddd; 
  text-decoration: none; 
}


.logcnm h5 {
  color:#ddd; 
}

/* .social-iconss {
  width: 75%;
  display: flex;
  justify-content: space-between;
} */

@media (min-width: 800px) and (max-width: 1150px) {
  .social-iconss {
    justify-content: start;
  }
}

@media (min-width: 600px) and (max-width: 780px) {
  .logcnm {
    /* text-align: center; */
  }

  .social-iconsss {
    justify-content: start;
  }
}

@media (min-width: 398px) and (max-width: 580px) {
  .logcnm {
    text-align: center;
  }
}

@media (min-width: 280px) and (max-width: 397px) {
  .logcnm {
    text-align: center;
  }
}