/* Footer.css */

/* General Styles */
.custom-footer {
   background-color: #31175b;
  color: #fff;
  padding: 2rem 1rem;
  /* text-align: center; */
  font-family: 'Arial', sans-serif;
}



.footer-let {
  margin-bottom: 1.5rem;
}

.footer-let img {
  max-width: 100%;
  height: auto;
}
.twoms{
  display: flex;
    justify-content: end;
    gap: 7%;
}

.footer-secton {
  display: flex;
  flex-direction: column;
}
.footer-secton a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1rem;
}

.footer-secton a:hover {
  color: #ccc;
}

.folow-us h3 {
  margin-bottom: 0.5rem;
}

.folow-us {
  margin-bottom: 1.5rem;
}

.clientsligos {
  margin-bottom: 1.5rem;
}

.clientsligos img {
  max-width: 100%;
  height: auto;
}

.footer-bottom-text{
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 1rem 0;
}
.footer-bottom-paragraph p {
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 1rem 0;
  text-align: justify;
}

