.interllekt-footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #31175b;
  align-items: flex-start;
  margin-top: 50px;
 
}
 
.interllekt-footerLogo {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;
  max-height: 100%;
  /* align-items: center;  */
 
}
.interllekt-spacing-div{
  padding: 15px;
}
 
.interllekt-footerLogo img {
  width: 100px;
}
 
.footer-bottom-text p {
  margin-left: 10px;
  font-size: 14px;
  color: #777;
}
 
 
.interllekt-commonlinks {
  width: 60%;
  /* 75% width */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.interllekt-footerSection,
.interllekt-followus-footerSection,
.interllekt-address {
  flex: 1;
  padding: 0 10px;
}
 
.footer-minorHeading {
  font-family: 'CabinetGrotesk-Bold', sans-serif;

  font-size: 20px;
  color: #777;
  margin-bottom: 10px;
}
 
.interllekt-ul-commonlinks,
.interllekt-footerLinks {
  list-style: none;
  padding: 0;
}
 
.interllekt-ul-commonlinks li,
.interllekt-footerLinks li {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.interllekt-ul-commonlinks li a,
.interllekt-footerLinks li a {
  text-decoration: none;
  color: #eaeaea;
}
 
.interllekt-ul-commonlinks li a:hover,
.interllekt-footerLinks li a:hover {
  text-decoration: underline;
}
 
.interllekt-address {
  color: #fff;
}