.privacy-container {
  padding: 50px 20px 0 0;
  max-width: 800px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  text-align: justify;
  background: #fff;
}

h1 , h2 , h3 {
  font-family: 'CabinetGrotesk-Bold', sans-serif;
}
h2 {
  color: #333;
  margin-top: 20px;
}

p {
  font-family: 'Switzer-Regular',sans-serif;
  margin: 10px 0;
}

ul {
  list-style-type: disc;
  margin: 10px 20px;
}

.section {
  margin-bottom: 30px;
}

.emalc {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .privacy-container {
    padding: 10px;
  }

  h2 {
    font-size: 1.2em;
  }

  p, ul {
    font-size: 0.9em;
  }
}
