.tab-container {
  z-index: 1001;
  width: 868px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  transition: all .2s;
  position: -webkit-sticky;
  position: sticky;
  top: 7px;
  background-color: white ;
}

.tab-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.tab-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  gap: 100px;
}

.tab-item {
  margin: 0 30px;
}

.tab-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 1.47rem;
  font-weight: bold;
  font-family: 'Ranberg Regular', sans-serif;
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
  padding-bottom: 5px;
}

.tab-link:hover,
.tab-link.active {
  color: #000;
  border-bottom: 5px solid #31175b;
}

@media (max-width: 600px) {
  .tab-container {
    max-width: 100%;
    top: 0;
  }

  .tab-link {
    font-size: 1.2rem;
  }

  .tab-list {
    flex-direction: column;
    gap: 20px;
  }

  .tab-item {
    margin: 0 !important;
  }
}


@media (max-width: 768px) {
  .tab-container {
    max-width: 90%;
  }

  .tab-link {
    font-size: 1.4rem;
  }

  .tab-list {
    flex-direction: row;
    gap: 50px;
  }

  .tab-item {
    margin: 0 20px;
  }
}


@media (min-width: 1024px) {
  .tab-container {
    max-width: 75%;
  }

  .tab-link {
    font-size: 1.47rem;
  }

  .tab-list {
    flex-direction: row;
    gap: 100px;
  }

  .tab-item {
    margin: 0 30px;
  }
}