.card-content {
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 50px;
  }
  
  .left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 20px;
  }
  
  .card {
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px  0px 30px 30px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, height 0.3s ease;
    height: 100px;
    overflow: hidden;
  }
  
  .card h1 {
    font-family: 'CabinetGrotesk-Bold', sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin: 0;
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .card h1::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    transition: background-color 0.3s ease;
  }
  
  .card.focused {
    width: 80%;
    height: 30vh;
    background-color: #644c84;
    transform: scale(1.05);
    border-radius: 30px 0px 30px 30px; 
  }
  
  .card.focused h1::after {
    background-color: #000;
    width:30%;
  }

  .right-side {
    width: 50%;
    padding: 20px;
    transition: all 0.3s ease;
  }
  
  .c-content {
    transition: opacity 0.3s ease; 
    margin: 10px;
  }

  .c-content h2 {
    font-family: 'CabinetGrotesk-Bold', sans-serif;
    font-size: 38px;
    font-weight: 500;
  } 

  .c-content p {
    margin-top: 30px;
    font-family: 'Switzer-Regular',sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 2rem;
    /* width: 100%; */
  }
  