.card-content {
    display: flex;
    margin-top: 30px;
    /* margin-left: 50px; */
    margin-bottom: 50px;
    background: linear-gradient(45deg, #31c0ff, #bae7ff);
    /* border-radius: 70px 0 70px 70px; */
  }
  
  .left-side {
    margin: 50px 50px 50px 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 20px;
  }
  
  .card {
    width: 35%;
    padding: 20px;
    border: 3px solid #000;
    border-radius: 30px  0px 30px 30px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, height 0.3s ease;
    height: 150px;
    overflow: hidden;
  }
  
  .card h1 {
    color: #000;
    font-family: 'Ranberg Semibold', sans-serif;
    font-weight: 500;
    margin: 0;
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .card h1::after {
    /* content: ''; */
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    transition: background-color 0.3s ease;
  }
  
  .card.focused {
    width: 50%;
    height: 40vh;
    background-color:#95dbff;
    color: #000;
    transform: scale(1.05);
    border-radius: 30px 0px 30px 30px; 
  }
  
  .card.focused h1::after {
    background-color: #fff;
    width:50%;
  }

  .right-side {
    width: 50%;
    padding: 20px;
    transition: all 0.3s ease;
  }
  
  .c-content {
    transition: opacity 0.3s ease; 
    margin: 10px;
  }

  .c-content h2 {
    font-family: 'Ranberg Semibold', sans-serif;
    font-weight: 500;
    font-size: 38px;
    font-weight: 500;
    color: #000;
  } 

  .c-content p {
    margin-top: 30px;
    font-family: 'Switzer-Regular',sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 2rem;
    color: #000;
    /* width: 100%; */
    text-align: justify;
  }

  .cap-content{
    margin-top: 10vh;
  }

  .i-content{
    margin-top: 20vh;
  }

  .b-content {
    margin-top: 35vh;
  }

  a {
    text-decoration-color: #000;
}
  