.cap-parallax-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  left: 15%;
  background-color: #fff;
  margin-top: 50px; /* Adjust margin-top as per your need */
}

.cap-parallax-image {
  position: absolute;
  transition: transform 2s ease-out, opacity 2s ease-out;
  opacity: 0;
}

/* Initial positions of the images */
.top-left-image {
  transform: translateX(-100%) translateY(-100%);
  width: 135%; /* Adjust size as needed */
}

.top-right-image {
  transform: translateX(100%) translateY(-100%);
  width: 135%; /* Adjust size as needed */
}

.bottom-left-image {
  transform: translateX(-100%) translateY(100%);
  width: 135%; /* Adjust size as needed */
}

.bottom-right-image {
  transform: translateX(100%) translateY(100%);
  width: 135%; /* Adjust size as needed */
}

/* Scroll down animation - Images join to the center */
.cap-parallax-container.down .top-left-image {
  transform: translateX(0) translateY(0);
  opacity: 1;
}

.cap-parallax-container.down .top-right-image {
  transform: translateX(0) translateY(0);
  opacity: 1;
}

.cap-parallax-container.down .bottom-left-image {
  transform: translateX(0) translateY(0);
  opacity: 1;
}

.cap-parallax-container.down .bottom-right-image {
  transform: translateX(0) translateY(0);
  opacity: 1;
}

.cap-parallax-container.down .humanoid-image {
  opacity: 1;
}

/* Scroll up animation */
.cap-parallax-container.up .top-left-image {
  transform: translateX(-10%) translateY(-10%);
  opacity: 1;
}

.cap-parallax-container.up .top-right-image {
  transform: translateX(10%) translateY(-10%);
  opacity: 1;
}

.cap-parallax-container.up .bottom-left-image {
  transform: translateX(-10%) translateY(10%);
  opacity: 1;
}

.cap-parallax-container.up .bottom-right-image {
  transform: translateX(10%) translateY(10%);
  opacity: 1;
}

.cap-parallax-container.up .humanoid-image {
  opacity: 1;
}

@media (max-width: 1024px) {
  .cap-parallax-image {
    width: 90%;
    height: 90vh;
  }
}

@media (max-width: 768px) {
  .cap-parallax-image {
    width: 100% !important;
    height: 50vh !important;
  }
}

@media (max-width: 480px) {
  .cap-parallax-image {
    width: 100%;
    height: 70vh;
  }
}