.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
  }
  
  .carousel {
    display: flex;
    white-space: nowrap;
    animation: scrollLeft 50s linear infinite paused;
    margin-bottom: 30px;
  }
  
  .carousel.reverse {
    animation: scrollRight 50s linear infinite paused;
  }
  
  .carousel.scrolling-left {
    animation: scrollLeft 50s linear infinite;
  }
  
  .carousel.reverse.scrolling-right {
    animation: scrollRight 50s linear infinite;
  }
  
  .carousel-item {
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
  }
  
  .carousel-item span {
    font-family: 'Ranberg Semibold', sans-serif;
    font-size: 3rem;
  }
  
  .carousel-item img {
    height: 40px;
    width: auto;
    margin-right: 10px;
  }
  
  @keyframes scrollLeft {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  @keyframes scrollRight {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(50%);
    }
  }