.icarousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
  
}

.icarousel {
  display: flex;
  white-space: nowrap;
  animation: scrollLeft 40s linear infinite;
  margin-bottom: 30px;
 
}

.icarousel.reverse {
  animation: scrollRight 40s linear infinite;
 
}

.icarousel-item {
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
}

.icarousel-item span {
  font-family: 'Ranberg Semibold', sans-serif;
  font-size: 32px;
}

.icarousel-item img {
  height: 30px;
  width: auto;
  margin-right: 10px;
}


@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}