.icarousel-container {
  display: flex;
  justify-content: center;
  overflow: hidden; /* Hide the overflowing items */
  width: 100%;
}

.icarousel {
  display: flex;
  width: calc(200%); /* Ensures the carousel covers twice the width */
  animation: scroll 10s linear infinite; /* Continuous scrolling animation */
}

@keyframes scroll {
  0% {
    transform: translateX(0); /* Start at the first item */
  }
  100% {
    transform: translateX(-50%); /* Scroll exactly halfway to loop seamlessly */
  }
}

.icarousel-item {
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
  flex-shrink: 0; /* Prevent shrinking of items */
}

.icarousel-item span {
  font-family: 'Ranberg Regular', sans-serif;
  font-size: 28px; /* Adjusted font size */
}

.icarousel-item img {
  height: 30px; /* Adjusted image size */
  width: auto;
  margin-right: 20px;
}

/* Media queries for responsive adjustments */
@media (min-width: 399px) and (max-width: 589px) {
  .icarousel-item {
    padding: 0 10px;
    
  }
  .icarousel-item span {
    font-size: 16px;
  }

  .icarousel-item img {
    height: 25px;
    width: auto;
    margin-right: 20px;
  }
}

@media (min-width: 290px) and (max-width: 398px) {
  .icarousel-item {
    padding: 0 5px;
    
  }

  .icarousel-item span {
    font-size: 16px;
  }

  .icarousel-item img {
    height: 20px;
    width: auto;
    margin-right: 10px;
  }
}
