
.Bsection2-container {
    margin: 0; 
    padding: 30px; 
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    box-sizing: border-box;
  }
  
  .Bsection2-body {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }
  
  .Bsection2-body h1 {
    width: 60%;
    margin: 40px 30px 20px 30px; 
    letter-spacing: 0;
    text-transform: none;
    font-family: 'CabinetGrotesk-Medium',sans-serif;
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 1.2;
    text-align: left;
  }
  
  .Bsection2-body p {
    width: 75%;
    margin: 0 30px 10px 30px; 
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: left;
    font-family: 'Switzer-Regular',sans-serif;
  }

  .Bsection2-body .line1 {
    font-family: 'Switzer-Regular',sans-serif;
    font-size: 3rem;
  }

  
  @media (max-width: 600px) 
{   
  .Bsection2-container{     
    flex: 1 1 100%; 
  } 
}