.Bsection2-container {
 margin: 1%;
 padding: 1%;
}

.Bsection2-body {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Bsection2-body h1 {
  font-family: 'Ranberg Regular', sans-serif;
  font-size: 3.5rem;
  font-weight: 200;
  text-align: left;
}

.Bsection2-body p {
  font-size: 1.5rem;
  font-family: 'Switzer-Regular', sans-serif;
}

.Bsection2-body .line1 {
  font-family: 'Ranberg Regular', sans-serif;
  font-weight: 500;
  font-size: 3.5rem !important;
  line-height: 1;
  
}

