.section2-container {
/* margin:2%;
padding: 2%; */
/* padding: 2%; */
}

.section2-body h3 {
  /* text-transform: none; */
  font-family: 'Ranberg Regular', sans-serif;
  font-size: 3rem;
  font-weight: 200;
  /* text-align: left; */
}

.section2-body p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-family: 'Switzer-Regular', sans-serif;
}

.section2-body h1 {
  font-family: 'Ranberg Regular', sans-serif;
  font-weight: 500;
  font-size: 3.5rem; 
}

