.section1-container {
  /* margin: 2%;
  padding: 2%; */
  margin-top: 4%;
  /* padding: 2%; */
}

.section1-body {
  align-items: center;
  justify-content: center;
}

.heading-style-h1 {
  font-family: 'Ranberg Regular', sans-serif;
  height: 95vh;
  font-size: 13rem;
  font-weight: 400;
  padding-left: 7%;
}

.text-style-italic {
  font-family: 'Ranberg Regular', sans-serif;
  font-style: italic;
  color: #ff2e2e;
  padding-bottom: 2.5%;
}

.para p {
  font-family: 'Switzer-Regular', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-align: justify;
  padding: 2%;
  /* margin-top: 4%; */

}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20%);
  }
}

.animated-text {
  display: inline-block;
  animation: slideIn 3s linear infinite;
}
