@media (min-width: 800px) and (max-width: 1100px){
    .tab-list{
        gap: 60px !important;
    }
    .heading-style-h1{
        font-size: 11rem !important;
        
    }
    .section1-container{
        margin: auto;
    }
}

@media (min-width: 600px) and (max-width: 780px){

    /* herder */
    .tab-nav{
        padding: 18px 0 !important;  
    }
    .tab-list{
        gap: 25px !important;
    }
    .tab-link{
        font-size: 20px !important;
    }
    .c-layout.is-footer{
        text-align: center;
        width: 100% !important;
        display: flex !important;
        justify-content: space-between !important;
        align-items: start !important;
    }

    /* ////sceondhead */
    .heading-style-h1{
        font-size: 7rem !important;
        margin-top: 15%;
    }
    .para p{
        text-align: unset !important;
    }


    /* animation */
    .parallax-image{
        width: 100% !important;
        height: auto !important;

    }

    .brandMasonry{
        /* display: none !important; */
        height: 32vh !important;
    width: 77% !important;
    left: auto !important;
    top: -168px !important;
    }
    .capclass, .innoclass, .buiclass{
display: block !important;
    }
    .card.focused {
        width: 81% !important;
        height: 40vh !important;
    }
    .cap-content{
        margin-top: 1px !important;
    }
    .sright-side {
        /* width: 100% !important; */
        padding: 1% !important;
    }
   
}

@media (min-width: 399px) and (max-width: 589px){
.menu-content{
    
    padding: 0;
    height: 90vh;
}
.search-img, .menu-img {
    width: 19px;
    height: auto;
}
.new-header {
    height: 167px;
    width: 100%;
    top: -27px;
}

/* ///banner */
.video-container{
    height: auto !important;
}
.full-screen-video {
    height: auto !important;
}


/* //contact */
.ccontact-form{
    padding: 1rem !important;
    margin: auto !important;
}
.footer-left{
    display: block !important;
}
.cbtn button{
    float: unset !important;
}

/* ////sceondhead */
.heading-style-h1{
    font-size: 3rem !important;
    margin-top: 37%;
}
.para p{
    text-align: unset !important;
    font-size: 22px !important;
}

/* //tabss */
.tab-link{
    font-size: 16px !important;
}

.tab-item{
    margin: 0 !important;
}
header.tab-container.sticky{
    padding-top: 93px ;
}

/* ///secton2 */
.section2-body .line1{
    font-size: 34px !important;
}
.section2-body{
    margin-top: 2% !important;
    padding: 3% !important;
}


 /* animation */
 .parallax-image{
    width: 100% !important;
    height: auto !important;

}
.parallax-container{
    height: 70vh !important;
}
.sright-side{
    width: 100% !important;
}
.brandMasonry{
    /* display: none !important; */
    height: 32vh !important;
width: 77% !important;
left: auto !important;
top: -168px !important;
}
.capclass, .innoclass, .buiclass{
display: block !important;
}
.card.focused {
    width: 81% !important;
    height: 40vh !important;
}
.cap-content{
    margin-top: 1px !important;
}
.sright-side {
    /* width: 100% !important; */
    padding: 1% !important;
}
.sleft-side{
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
}
/* .brandMasonry{
    display: none !important;
} */

.card-content.row{
    display: none !important;
}
.tabsresponsive{
    display: block !important;
}
}
@media (min-width: 290px) and (max-width: 398px){
    .menu-content{
        
        padding: 0;
        height: 90vh;
    }
    .new-header {
        height: 167px;
        width: 100%;
        top: -25px;
    }

    .search-img, .menu-img {
        width: 19px;
        height: auto;
    }

    /* ///video */
    .video-container{
        height: auto !important;
    }
    .full-screen-video {
        height: auto !important;
    }


    /* ///contacts */
    .ccontact-form{
        padding: 1rem !important;
        margin: auto !important;
    }

    .footer-left{
        display: block !important;
    }
    .cbtn button{
        float: unset !important;
    }
    /* ////sceondhead */
.heading-style-h1{
    font-size: 3rem !important;
    margin-top: 50% !important;
}
.para p{
    text-align: unset !important;
    font-size: 22px !important;
}

/* //tabss */
.tab-link{
    font-size: 14px !important;
}
.tab-item{
    margin: 0 !important;
}

.tab-list{
gap: 28px !important;
}
header.tab-container.sticky{
    padding-top: 93px ;
}
/* ///secton2 */
.section2-body .line1{
    font-size: 32px !important;
}
.section2-body{
    margin-top: 2% !important;
    padding: 3% !important;
}


 /* animation */
 .parallax-image{
    width: 100% !important;
    height: auto !important;

}
.parallax-container{
    height: 70vh !important;
}

/* ///footer */
.custom-footer{
    padding: 0 !important;
}
}