@media (min-width: 800px) and (max-width: 1100px){
    .tab-list{
        gap: 60px !important;
    }
    .heading-style-h1{
        font-size: 11rem !important;
        
    }
    .section1-container{
        margin: auto;
    }

    .section1-container {
        margin-top: 11% !important;
    }
    .heading-style-h1, .text-style-italic {
        font-family: Ranberg Regular, sans-serif !important;
        height: 92vh !important;
    }

    .cap-parallax-image {
        width: 76% !important ;
        height: 85vh !important;
    }
}
@media (min-width: 870px) and (max-width: 1000px){
   
    .scroll-reveal-text {
        height: auto !important;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .brandMasonry {
        height: 45vh !important;
        width: 80% !important;
        top: 0 !important;
    }
    .ccontact-form {
        padding-bottom: 6.25rem !important;
        padding-top: 3rem !important;
        position: relative !important;
        text-align: center !important;
    }
    .ccontact-form h2 {
        font-size: 2rem !important;
    }
    .tab-list{
        gap: 25px !important;
    }
    .tab-item{
        margin: 0 26px !important;
    }
    .tab-link{
        font-size: 24px;
    }
    .heading-style-h1{
        font-size: 9rem !important;
        
    }
    .section1-container{
        margin: auto;
    }

    .section1-container {
        margin-top: 11% !important;
    }
    .heading-style-h1, .text-style-italic {
        font-family: Ranberg Regular, sans-serif !important;
        height: 92vh !important;
    }

    .cap-parallax-image {
        width: 76% !important ;
        height: 85vh !important;
    }
}
@media (min-width: 600px) and (max-width: 780px){
    .tab-container{
        background-color: unset !important;
    }
    .new-header.not-transparent {
        background-color: var(--white);
      }
    /* herder */
    .tab-nav{
        padding: 18px 0 !important;  
    }
    .tab-list{
        gap: 25px !important;
    }
    .tab-link{
        font-size: 20px !important;
    }
    .c-layout.is-footer{
        text-align: center;
        width: 100% !important;
        display: flex !important;
        justify-content: space-evenly !important;
        align-items: start !important;
    }

    /* ////sceondhead */
    .heading-style-h1{
        font-size: 7rem !important;
        margin-top: 15%;
    }
    .heading-style-h1, .text-style-italic {
        
        height: auto !important;
    }
    .para p{
        text-align: unset !important;
    }

   /* text-scroll-reveal */
   .scroll-reveal-text {
    height: 60vh !important;
   }
    /* animation */
    .parallax-image{
        width: 100% !important;
        height: auto !important;

    }
    .cap-parallax-image {
        width: 75% !important;
        height: 77vh !important;
    }

    .brandMasonry {
        /* display: none !important; */
        height: 50vh !important;
        width: 60% !important;
        left: auto !important;
        top: 30px !important;
    }
    p.subvism {
        margin-top: 7%;
        font-size: 22px;
    }

    .Isection2-body h1 {
        font-family: 'Ranberg Regular', sans-serif;
        font-weight: 500;
        font-size: 2.5rem !important;
        line-height: 1.2;
    }

    .caplin{
        color: #000;
        font-family: 'Ranberg Regular', sans-serif;
        font-weight: 500;
        margin: 0;
        /* position: relative; */
        font-size: 30px;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .capclass, .innoclass, .buiclass{
display: block !important;
    }
    .card.focused {
        margin-top: 13%;
        width: 81% !important;
        height: 48vh !important;
    }
    .cap-content{
        margin-top: 7vh !important;
    }
    .i-content{
        margin-top: 40vh !important;
    }
    .b-content {
        margin-top: 70vh !important;
    }

    .card-content.row{
        display: none !important;
    }
    .tabsresponsive{
        display: block !important;
    }

    .sright-side {
        /* width: 100% !important; */
        padding: 1% !important;
    }
   
}

@media (min-width: 399px) and (max-width: 589px){
    .tab-container{
        background-color: unset !important;
    }
    .new-header.not-transparent {
        background-color: var(--white);
      }
.menu-content{
    
    padding: 0;
    height: 90vh;
}
.search-img, .menu-img {
    width: 19px;
    height: auto;
}
.new-header {
    height: 167px;
    width: 100%;
    top: -27px;
}

/* ///banner */
.video-container{
    height: auto !important;
}
.full-screen-video {
    height: auto !important;
}


/* //contact */
.ccontact-form{
    padding: 1rem !important;
    margin: auto !important;
}
.footer-left{
    display: block !important;
}
.cbtn button{
    float: unset !important;
}

/* ////sceondhead */
.heading-style-h1{
    font-size: 3rem !important;
    margin-top: 37%;
}
.heading-style-h1, .text-style-italic {
        
    height: auto !important;
}
.para p{
    text-align: unset !important;
    font-size: 22px !important;
}

/* //tabss */
.tab-link{
    font-size: 16px !important;
}

.tab-item{
    margin: 0 !important;
}
header.tab-container.sticky{
    padding-top: 93px ;
}

/* ///secton2 */
.section2-body .line1{
    font-size: 34px !important;
}
.section2-body{
    margin-top: 2% !important;
    padding: 3% !important;
}


 /* animation */
 .parallax-image{
    width: 100% !important;
    height: auto !important;

}
.cap-parallax-image {
    width: 70% !important;
    height: 60vh !important;
}
.parallax-container{
    height: 70vh !important;
}
.sright-side{
    width: 100% !important;
}
.brandMasonry{
    /* display: none !important; */
    height: 50vh !important;
width: 70% !important;
left: auto !important;
top: 30px !important;
}
.subvism {
    margin-top: 10%;
    font-size: 18px;
}

.res-section h1 {
    font-size: 2rem !important;
}

.caplin{
    color: #000;
    font-family: 'Ranberg Regular', sans-serif;
    font-weight: 500;
    margin: 0;
    /* position: relative; */
    font-size: 30px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.capclass, .innoclass, .buiclass{
display: block !important;
}
.card.focused {
    width: 81% !important;
    height: 40vh !important;
}
.cap-content{
    margin-top: 1px !important;
}
.sright-side {
    /* width: 100% !important; */
    padding: 1% !important;
}
.sleft-side{
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
}
/* .brandMasonry{
    display: none !important;
} */

.card-content.row{
    display: none !important;
}
.tabsresponsive{
    display: block !important;
    background-color:#f5f9ff;
}
.menu-column ul li a {
    font-size: 1.5rem !important;
}

.res-section p{
    font-size: 20px !important;
}
.res-section h3 {
    font-size: 2rem !important;
}
.footer-left{
    width: 100% !important;
}
}
@media (min-width: 290px) and (max-width: 398px){
    .tab-container{
        background-color: unset !important;
    }
    .new-header.not-transparent {
        background-color: var(--white);
      }
    .menu-content{
        
        padding: 0;
        height: 90vh;
    }
    .new-header {
        height: 167px;
        width: 100%;
        top: -25px;
    }

    .search-img, .menu-img {
        width: 19px;
        height: auto;
    }

    /* ///video */
    .video-container{
        height: auto !important;
    }
    .full-screen-video {
        height: auto !important;
    }


    /* ///contacts */
    .ccontact-form{
        padding: 1rem !important;
        margin: auto !important;
    }

    .footer-left{
        display: block !important;
    }
    .cbtn button{
        float: unset !important;
    }
    /* ////sceondhead */
.heading-style-h1{
    font-size: 3rem !important;
    margin-top: 50% !important;
}
.heading-style-h1, .text-style-italic {
        
    height: auto !important;
}
.para p{
    text-align: unset !important;
    font-size: 22px !important;
}

/* //tabss */
.tab-link{
    font-size: 14px !important;
}
.tab-item{
    margin: 0 !important;
}

.tab-list{
gap: 28px !important;
}
header.tab-container.sticky{
    padding-top: 93px ;
}
/* ///secton2 */
.section2-body .line1{
    font-size: 32px !important;
}
.section2-body{
    margin-top: 2% !important;
    padding: 3% !important;
}

.res-section h3 {
    font-size: 1.5rem !important;
}


 /* animation */
 .parallax-image{
    width: 100% !important;
    height: auto !important;

}
.cap-parallax-image {
    width: 60% !important;
    height: 50vh !important;
}
.parallax-container{
    height: 70vh !important;
}

.brandMasonry{
    /* display: none !important; */
    height: 32vh !important;
width: 77% !important;
left: auto !important;
top: 30px !important;
}
.subvism{
    margin-top: 10%;
}
.caplin{
    color: #000;
    font-family: 'Ranberg Regular', sans-serif;
    font-weight: 500;
    margin: 0;
    /* position: relative; */
    font-size: 30px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.card-content.row{
    display: none !important;
}
.tabsresponsive{
    display: block !important;
}
.menu-column ul li a {
    font-size: 1.5rem !important;
}

/* ///footer */
.custom-footer{
    padding: 0 !important;
}


.res-section p{
    font-size: 18px !important;
}
.res-section h1{
    font-size: 2rem !important;
}
.footer-left{
    width: 100% !important;
}

}