.Bslider {
    position: relative;
    width: 100%;
    overflow: hidden;
    font-family: 'Switzer-Regular',sans-serif;
}

.Bslider-content {
    display: flex;
    animation: slide-animation 12s infinite alternate;
}

.Bslide {
    width: 100%;
    flex-shrink: 0;
}

.Bslider-image {
    width: 100%;
    height: 110vh;
}

@keyframes slide-animation {
    0%, 10% { transform: translateX(0%); }
    25%, 35% { transform: translateX(-100%); }
    50%, 60% { transform: translateX(-200%); }
    75%, 85% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}

.Bslider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: left;
    z-index: 1;
    width: 100%;
    padding: 0 20px;
}

.Bslider-text h1 {
    margin: 20px;
    font-size: 150px;
    font-weight: 500px;
    letter-spacing: 0;
    text-transform: none;
    margin-bottom: 0;
    font-family: 'Ranberg Semibold', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}

.Bslider-text h4 {
    font-family: 'Ranberg Semibold', sans-serif;
    font-size: 40px;
    margin: 20px;
    padding: 20px;
    width: 75%; 
    font-size: 2.5rem;
    font-weight: 300;
}
@media (max-width: 600px) 
{   
  .Bslider{     
    flex: 1 1 100%; 
  } 
}