.ccarousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
    /* border: 10px solid transparent;
    border-image: linear-gradient(to right, #FFB32C, #31175B, #FF2E2E, #17591B, #31C0FF) 1;
    padding: 10px;  */
}

.ccarousel {
  display: flex;
  white-space: nowrap;
  transition: transform 2s ease-in-out; /* Increased the transition duration */
  margin-top: 20px;
  margin-bottom: 30px;
}

.ccarousel.reverse {
  display: flex;
  white-space: nowrap;
  transition: transform 2s ease-in-out; /* Increased the transition duration */
  margin-bottom: 20px;
}

.ccarousel-item {
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
}

.ccarousel-item span {
  font-family: 'Ranberg Regular', sans-serif;
  font-size: 32px;
}

.ccarousel-item img {
  height: 30px;
  width: auto;
  margin-right: 10px;
}
