.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    /* background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 20%, rgba(148,187,233,1) 84%); */
  }
  
  .carousel {
    display: flex;
    white-space: nowrap;
    animation: scrollLeft 20s linear infinite;
    
  }
  
  .carousel.reverse {
    animation: scrollRight 20s linear infinite;
    
  }
  
  .carousel-item {
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
  }
  
  .carousel-item span {
    font-family: 'Ranberg Semibold', sans-serif;
    font-size: 28px;
  }
  
  .carousel-item img {
    height: 80px;
    width: auto;
    margin-right: 10px;
  }
  
  /* Animations */
  @keyframes scrollLeft {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  @keyframes scrollRight {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(50%);
    }
  }
  