html,
body {
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden; */
  width: 100%;
}

:root {
  --swatches--elderberry: #17182b;
  --swatches--lighter-gray: #d4d3d8;
  --swatches--white: white;
  --swatches--fades--lighter-gray-50: rgba(212, 211, 216, .5);
  --swatches--fades--white-50: rgba(255, 255, 255, .5);
  --swatches--light-gray: #aaa9b2;
  --swatches--gray: #82818e;
  --swatches--dark-gray: #5c5b6b;
  --swatches--fades--black-50: rgba(13, 13, 23, .5);
  --swatches--fades--elderberry-5: rgba(23, 24, 43, .05);
  --swatches--fades--elderberry-10: rgba(23, 24, 43, .1);
  --swatches--black: #0d0d17;
  --swatches--white-smoke: #f8f8fa;
  --webflow-blue: #146ef5;
  --swatches--sea-green: #00ffcd;
  --swatches--fades--rasperry-10: rgba(255, 0, 108, .1);
  --swatches--rasperry: #ff006c;
  --swatches--darker-gray: #38384a;
  --nav-color: var(--swatches--elderberry);
  --white: white;
  --black: black;


  --fluor: #e7ffb3;
  --fluors: #e7ffb388;
  --light_green: #c4d0a1;
  --green: #616657;
}

@font-face {
  font-family: 'Switzer-Regular';
  src: url('./Fonts/Switzer/Switzer-Regular.woff2') format('woff2'),
    url('./Fonts/Switzer/Switzer-Regular.woff') format('woff'),
    url('./Fonts/Switzer/Switzer-Regular.ttf') format('ttf');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer-Semibold';
  src: url('./Fonts/Switzer/Switzer-Semibold.woff2') format('woff2'),
    url('./Fonts/Switzer/Switzer-Semibold.woff') format('woff'),
    url('./Fonts/Switzer/Switzer-Semibold.ttf') format('ttf');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

/* ----------------------------------------------------------------------------------------------------------------*/
@font-face {
  font-family: 'Ranberg Semibold';
  src: url('./Fonts/RanbergFree/Ranberg-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Ranberg Regular';
  src: url('./Fonts/RanbergFree/Ranberg_regular.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}


body {
  margin: 0;
  font-family: 'Switzer-Regular', 'Ranberg Semibold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


code {

  font-family: 'Switzer-Regular', 'Ranberg Semibold', sans-serif;

}

/* Common Css */

a {
  text-decoration: none !important;
}

.common-class {
  padding-top: 6%;
  padding-bottom: 6%;
}

.res-section h1 {
  margin-top: 0 !important;
  margin-bottom: 3% !important;
  font-size: 3.5rem !important;
  font-weight: 200 !important;
}

.res-section h3 {
  margin-top: 0 !important;
  margin-bottom: 3% !important;
  font-size: 3rem !important;
  font-weight: 200 !important;
}

.res-section p {
  margin-top: 0 !important;
  margin-bottom: 3% !important;
  font-size: 1.85rem !important;
  text-align: left;
}


.res-commoncard {
  /* margin-top: 10%; */
  /* margin-bottom: 10%; */
}

.padding-sec {
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 600px) {
  .App .innovation-animation .brandMasonry {
    margin: auto;
  }

  .App .innovation-animation {
    width: 100%;
    height: 100%;
  }

  .App .cap-animation .brandMasonry {
    margin: auto;
  }

  .App .busines-animation {
    width: 100%;
    height: 100%;
  }

  .App .busines-animation .brandMasonry {
    margin: auto;
  }

  .App .b-parallax-container {
    height: 50vh;
  }

  .App .parallax-container {
    height: 50vh;
  }

  .brandMasonry {
    margin: auto;
  }

  .App .new-header {
    padding: 12px 8px;
  }

  .App .padding-sec {
    padding-left: 8px;
    padding-right: 8px;
  }

  .App .margin-added {
    margin-top: 20%;
  }
}