<<<<<<< HEAD
body {
  margin: 0;
  font-family: Sentinel, Palatino Linotype, sans-serif;
=======
:root {
  --swatches--elderberry: #17182b;
  --swatches--lighter-gray: #d4d3d8;
  --swatches--white: white;
  --swatches--fades--lighter-gray-50: rgba(212,211,216,.5);
  --swatches--fades--white-50: rgba(255,255,255,.5);
  --swatches--light-gray: #aaa9b2;
  --swatches--gray: #82818e;
  --swatches--dark-gray: #5c5b6b;
  --swatches--fades--black-50: rgba(13,13,23,.5);
  --swatches--fades--elderberry-5: rgba(23,24,43,.05);
  --swatches--fades--elderberry-10: rgba(23,24,43,.1);
  --swatches--black: #0d0d17;
  --swatches--white-smoke: #f8f8fa;
  --webflow-blue: #146ef5;
  --swatches--sea-green: #00ffcd;
  --swatches--fades--rasperry-10: rgba(255,0,108,.1);
  --swatches--rasperry: #ff006c;
  --swatches--darker-gray: #38384a;
  --nav-color: var(--swatches--elderberry);
  --white: white;
  --black: black;
 
   
    --fluor: #e7ffb3;
    --fluors: #e7ffb388;
    --light_green: #c4d0a1;
    --green: #616657;
}
@font-face {
  font-family: 'Switzer-Regular';
  src: url('./Fonts/Switzer/Switzer-Regular.woff2') format('woff2'),
       url('./Fonts/Switzer/Switzer-Regular.woff') format('woff'),
       url('./Fonts/Switzer/Switzer-Regular.ttf') format('ttf');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'CabinetGrotesk-Bold';
  src: url('./Fonts/CabinetGrostesk/CabinetGrotesk-Bold.woff2') format('woff2'),
       url('./Fonts/CabinetGrostesk/CabinetGrotesk-Bold.woff') format('woff'),
       url('./Fonts/CabinetGrostesk/CabinetGrotesk-Bold.ttf') format('ttf');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}



body {
  margin: 0;
<<<<<<< HEAD
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
>>>>>>> 087fd2d6f9a3b598e299ba47c0cbaa521cdb877a
=======
  font-family:'Switzer-Regular', 'CabinetGrotesk-Bold', sans-serif ;
>>>>>>> 271e463f9808bd8558335beaf5062f51fb033966
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
<<<<<<< HEAD
<<<<<<< HEAD
  font-family: Sentinel, Palatino Linotype, sans-serif;
=======
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
>>>>>>> 087fd2d6f9a3b598e299ba47c0cbaa521cdb877a
=======
  font-family: 'Switzer-Regular', 'CabinetGrotesk-Bold' sans-serif;
>>>>>>> 271e463f9808bd8558335beaf5062f51fb033966
}
