.Isection2-container {
  margin: 1%;
  padding: 1%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.Isection2-body {
  text-align: left;
  display: flex;
  padding: 1%;
  flex-direction: column;
  align-items: flex-start;
}
.Isection2-body h3 {
  font-family: 'Ranberg Regular', sans-serif;
  font-weight: 200;
}
.Isection2-body h1 {
  font-family: 'Ranberg Regular', sans-serif;
  font-weight: 500;
}

/* .Isection2-body h3 {
  letter-spacing: 0;
  text-transform: none;
  font-family: 'Ranberg Regular', sans-serif;
  font-size: 3rem;
  font-weight: 200;
  text-align: left;
}

.Isection2-body p {
  font-size: 1.5rem;
  font-family: 'Switzer-Regular', sans-serif;
}

.Isection2-body h1 {
  font-family: 'Ranberg Regular', sans-serif;
  font-weight: 500;
  font-size: 3.5rem !important;
  line-height: 1.2;
} */

