.Isection2-container {
  margin: 1%;
  padding: 1%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.Isection2-body {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Isection2-body h1 {
  letter-spacing: 0;
  text-transform: none;
  font-family: 'Ranberg Regular', sans-serif;
  font-size: 3.5rem;
  font-weight: 200;
  line-height: 1.2;
  text-align: left;
}

.Isection2-body p {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: justify;
  font-family: 'Switzer-Regular', sans-serif;
}

.Isection2-body .line1 {
  font-family: 'Ranberg Regular', sans-serif;
  font-size: 3.5rem;
}

