
.Isection2-container {
    margin: 0; 
    padding: 30px; 
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    box-sizing: border-box;
  }
  
  .Isection2-body {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }
  
  .Isection2-body h1 {
    width: 60%;
    margin: 40px 30px 20px 30px; 
    letter-spacing: 0;
    text-transform: none;
    font-family: 'Ranberg Semibold', sans-serif;
    font-size: 3.5rem;
    font-weight: 200;
    line-height: 1.2;
    text-align: left;
  }
  
  .Isection2-body p {
    width: 90%;
    margin: 0 30px 40px 30px; 
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: justify;
    font-family: 'Switzer-Regular', sans-serif;
  }

  .Isection2-body .line1 {
    font-family: 'Ranberg Semibold', sans-serif;
    font-size: 3rem;
  }
  