.scroll-reveal-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20px;
    font-family: 'Ranberg Regular', sans-serif;
    
  }
  
  .scroll-reveal-text span  {
    color: hsla(0, 33%, 4%, 0.534);
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, black, black);
    animation: scroll-reveal-text linear forwards;
    animation-timeline: view(y);
  }
  
  .scroll-reveal-text h2 span {
    font-family: 'Ranberg Regular', sans-serif;
    animation-range-start: cover 20vh;
    animation-range-end: cover 30vh;
  }
  
  .scroll-reveal-text p span {
    font-family: 'Switzer-Regular',sans-serif;
    animation-range-start: cover 20vh;
    animation-range-end: cover 30vh;
  }
  
  @keyframes scroll-reveal-text {
    to {
      background-size: 100% 100%;
      color: #000; /* black */
    }
  }
  
  .scroll-reveal-text h2 {
    font-size: 5rem;
    line-height: 1;
    padding-left: 20px;
    margin-bottom: 5px; /* Added space */
  }
  
  .scroll-reveal-text p {
    font-size: 1.75rem;
    line-height: 1.3;
    max-width: 55ch;
    margin-inline: auto;
    font-weight: 44.8px;
    text-align: justify;
  }
  
  .section-title-text {
    font-size: 24px;
    margin: 0;
  }

  .scroll-reveal-text h2 .highlight {
    color: #31C0FF !important;
    
    
  }
  
  
  /*
  .scroll-reveal-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20px;
}

.scroll-reveal-text span {
    color: hsl(0 0% 100% /0.2); 
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg,black,black);
    animation: scroll-reveal-text linear forwards;
    animation-timeline: view(y);
}

.scroll-reveal-text h2 span {
    animation-range-start: cover 20vh;
    animation-range-end: cover 30vh;
}

.scroll-reveal-text p span {
    animation-range-start: cover 20vh;
    animation-range-end: cover 50vh;
}

@keyframes scroll-reveal-text {
    to {
        background-size: 100% 100%;
        color: #000; 
    }
}

.scroll-reveal-text h2 {
    font-size: 5rem;
    line-height: 1;
    padding-left: 20px;
}

.scroll-reveal-text p {
    font-size: 1.75rem;
    line-height: 1.3;
    max-width: 55ch;
    margin-inline: auto;
    font-weight: 44.8px;
}

.section-title-text {
    font-size: 24px; 
    margin: 0; 
}

.left-section-text {
    flex: 1; 
    padding-right: 20px; 
}

.right-section-text {
    flex: 1;
    padding-left: 20px;
}

.right-section-text p {
    margin: 0; 
}
*/