.scroll-reveal-text {
  margin-top: 6%;
  margin-bottom: 6%;
  font-family: 'Ranberg Regular', sans-serif;
}

.scroll-reveal-text span {
  color: hsl(0deg 33% 4% / 25%);
  background-clip: text;
  -webkit-background-clip: text; /* Ensures Safari support */
  color: transparent; /* Ensures the text is transparent initially */
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-image: linear-gradient(90deg, black, black);
  animation: scroll-reveal-text 3s linear forwards;
}

@keyframes scroll-reveal-text {
  to {
    background-size: 100% 100%;
    color: #000; /* Sets text color to black */
  }
}

/* Font and size adjustments for responsive design */
.scroll-reveal-text h2 span {
  font-family: 'Ranberg Regular', sans-serif;
}

.scroll-reveal-text p span {
  font-family: 'Switzer-Regular', sans-serif;
  line-height: 38px;
  letter-spacing: 1px;
  margin-top: 1%;
}

.txtn {
  text-align: justify;
  padding: 2%;
}

.scroll-reveal-text h2 {
  font-size: 5rem;
  line-height: 1;
  text-align: center;
}

.scroll-reveal-text p {
  font-size: 1.75rem;
  line-height: 1.3;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .scroll-reveal-text h2 {
    font-size: 4rem;
  }
}

@media (max-width: 992px) {
  .scroll-reveal-text h2 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .scroll-reveal-text {
    margin: 10px;
  }

  .scroll-reveal-text h2 {
    font-size: 2.5rem;
  }

  .scroll-reveal-text p {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .scroll-reveal-text h2 {
    font-size: 3rem;
  }

  .scroll-reveal-text p {
    font-size: 0.875rem;
  }
}

/* Safari-specific CSS hack */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .scroll-reveal-text span {
      -webkit-background-clip: text; /* Ensure Safari handles the background clipping correctly */
    }
  }
}
