.scroll-reveal-text {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100vh; */
  margin-top: 3%;
  font-family: 'Ranberg Regular', sans-serif;
}

.scroll-reveal-text span {
  color: hsl(0deg 33% 4% / 25%);
  background-clip: text;
  -webkit-background-clip: text !important;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-image: linear-gradient(90deg, black, black);
  animation: scroll-reveal-text 2s linear forwards;
  animation-timeline: view(y) !important;
}

.scroll-reveal-text h2 span {
  font-family: 'Ranberg Regular', sans-serif;
  animation-range-start: cover 20vh;
  animation-range-end: cover 30vh;
}

.scroll-reveal-text p span {
  font-family: 'Switzer-Regular', sans-serif;
  animation-range-start: cover 20vh;
  animation-range-end: cover 30vh;
  line-height: 38px;
  letter-spacing: 1px;
  margin-top: 1%;
}

.scroll-reveal-text h2 .highlight {
  color: hsl(0deg 33% 4% / 25%);
  background-clip: text;
  -webkit-background-clip: text !important;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  /* background-image: linear-gradient(90deg, gray, gray); */
  animation: highlight-scroll-reveal 2s linear forwards;
}

@keyframes scroll-reveal-text {
  to {
    background-size: 100% 100%;
    color: #000; /* black */
  }
}

@keyframes highlight-scroll-reveal {
  to {
    background-size: 100% 100%;
    color: #31C0FF; /* blue */
  }
}

.scroll-reveal-text h2 {
  font-size: 5rem;
  line-height: 1;
  text-align: center;
  /* padding-left: 20px; */
  /* margin-bottom: 5px;  */
}

.scroll-reveal-text p {
  font-size: 1.75rem;
  line-height: 1.3;
  /* max-width: 55ch; */
  /* margin-inline: auto; */
  /* font-weight: 44.8px; */
  /* text-align: justify; */
}

.section-title-text {
  font-size: 24px;
  /* margin: 0; */
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .scroll-reveal-text h2 {
    font-size: 4rem;
  }
  
  .scroll-reveal-text p {
    font-size: 1.5rem;
  }
}

@media (max-width: 992px) {
  .scroll-reveal-text h2 {
    font-size: 3rem;
    padding-left: 10px;
  }
  
  .scroll-reveal-text p {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .scroll-reveal-text {
    margin: 10px;
  }
  
  .scroll-reveal-text h2 {
    font-size: 2.5rem;
  }
  
  .scroll-reveal-text p {
    font-size: 1rem;
    max-width: 90%;
  }
}

@media (max-width: 576px) {
  .scroll-reveal-text {
    height: auto; /* Adjust height for small screens */
    padding: 20px;
  }
  
  .scroll-reveal-text h2 {
    font-size: 2rem;
  }
  
  .scroll-reveal-text p {
    font-size: 0.875rem;
  }
}
