.b-parallax-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  padding-left: 7%;
  background-color: #fff;
  margin-top: 50px;
}

.b-parallax-image {
  position: absolute;
  transition: transform 2s ease-out, opacity 2s ease-out;
  opacity: 0;
}

/* Initial positions of the images */
.btop-left-image {
  transform: translateX(-100%) translateY(-100%);
  width: 135%;
}

.btop-right-image {
  transform: translateX(100%) translateY(-100%);
  width: 135%;
}

.bbottom-left-image {
  transform: translateX(-100%) translateY(100%);
  width: 135%;
}

.bbottom-right-image {
  transform: translateX(100%) translateY(100%);
  width: 135%;
}

/* Trigger animation only when the section is in view */
.b-parallax-container.animate .btop-left-image,
.b-parallax-container.animate .btop-right-image,
.b-parallax-container.animate .bbottom-left-image,
.b-parallax-container.animate .bbottom-right-image {
  transform: translateX(0) translateY(0);
  opacity: 1;
}

