.b-parallax-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* left: 15%; */
  background-color: #fff;
  margin-top: 50px;
}

.b-parallax-image {
  position: absolute;
  transition: transform 5s ease-out, opacity 1s ease-out;
  opacity: 0;
}

/* Initial positions of the images */
.btop-left-image {
  transform: translateX(-100%) translateY(-100%);
  width: 170%;
}

.btop-right-image {
  transform: translateX(100%) translateY(-100%);
  width: 170%;
}

.bbottom-left-image {
  transform: translateX(-100%) translateY(100%);
  width: 170%;
}

.bbottom-right-image {
  transform: translateX(100%) translateY(100%);
  width: 170%;
}

/* Trigger animation only when the section is in view */
.b-parallax-container.animate .btop-left-image,
.b-parallax-container.animate .btop-right-image,
.b-parallax-container.animate .bbottom-left-image,
.b-parallax-container.animate .bbottom-right-image {
  transform: translateX(0) translateY(0);
  opacity: 1;
}

@media (max-width: 1024px) {
  .b-parallax-image {
    width: 90%;
    height: 90vh;
  }
}

@media (max-width: 768px) {
  .b-parallax-image {
    width: 100% !important;
    height: 50vh !important;
  }
}

@media (max-width: 480px) {
  .b-parallax-image {
    width: 100%;
    height: 70vh;
  }
}
